@use 'base/mixins' as m;
@use 'base/variables' as v;

.footer {
    background-color: v.$primario;
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    
    @include m.tablet { 
        padding-top: 5rem;
        margin-top: 5rem;
        padding-left: 0rem;
        padding-right: 0rem
     }
   

    &__grid {
        @include m.tablet { 
            @include m.grid(3, 2rem)
         }
      
    }
    &__heading {
        color: v.$blanco;
        text-transform: uppercase;
        font-size: 2rem;
        margin-top: 5rem;
        @include m.tablet { 
            margin-top: 0rem
         }
    }
    &__texto {
        color: v.$blanco;
        font-size: 1.5rem;
    }
    &__navegacion {
        display: flex;
        flex-direction: column;
        
    }
    &__link {
        color: v.$blanco;
        margin-bottom: 1rem;
        font-size: 1.5rem;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
    img {
        margin-top: 5rem;
        @include m.tablet { 
            margin-top: 0rem
         }
                
    }
    &__copyright {
        color: v.$blanco;
        font-size: 1.5rem;
        text-align: center;
        padding: 1rem;
        margin: 5rem 0 0 0;
        background-color: darken(v.$primario, 10%);
        text-transform: uppercase;
        
    }
}
